header, main, footer {
    padding-left: 350px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }


.search-field {
  position: relative;
  display: inline-flex;
  width: -webkit-calc(50% - 400px);
  width: -moz-calc(50% - 400px);
  width: calc(100% - 400px);
  margin: 0 auto 0 25px !important;
  padding: 12px 0;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media only screen and (max-width : 768px) {
  .search-field {
    display: none;
  }
}

.input-field input[type=search]:not(.browser-default) {
  background: #4db6ac;
}

.input-field input[type=search]:focus:not(.browser-default) {
  background: #4db6ac;
}
